type_default()
    font-family: 'Archivo', sans-serif;

bgimage_default(image,size)
    background-image url(image)
    background-repeat no-repeat
    background-size size
    background-position top left